/*CSS DOCUMENT*/
html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; }



img {
    width: 100%; 
}

body {  
background-color: #FAF6F2;
}

section.flavors ul li img {
    width:  50%;
}

div.container {
    max-width: 60em;
    margin:  auto;
    background-color: #FAF6F2;
}

h1 {
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: 1rem;
    display: block;
    max-width: 7em;
}

h2 {
   color: #DF7249;
   font-family: Bilo, sans-serif;  
   font-weight: 800;  
   font-style: normal;
   font-size: 2rem;
   text-align: left;
   margin-left:  1rem;
   margin-bottom: 1rem;
   text-align: left;
   margin-top: 1rem;
}

h2 a{
   color: #DF7249;
   font-family: Bilo, sans-serif;  
   font-weight: 800;  
   font-style: normal;
   font-size: 2rem;
   text-align: left;
   margin-left:  0rem;
   text-align: left;
   text-decoration: none;

}



h3 {
   color: #DF7249;
   font-family: Bilo, sans-serif;  
   font-weight: 300;  
   font-style: normal;
   font-size: 1.5rem;
   margin-left:  1rem;
   margin-bottom: 1rem;
   text-align: left;
}


p {
   color: #2E3351;
   font-family: Bilo, sans-serif;  
   font-weight: 300;  
   font-style: normal;
   font-size: 1rem;
   margin-left:  1rem;
   margin-bottom: 1rem;
   text-align: left;
   padding-right: 1em;
}


/*NAV STYLING*/
ul {
    list-style-type: none;
}

nav ul {
padding:0;
text-align: left;
margin-bottom: 1rem;
margin-left: 0rem;
}

nav ul li {
display: inline-block;
list-style-type: none;
margin-left: 1rem;
text-align: left;
font-family: Bilo, sans-serif;  
font-weight: bold;
font-size: 1em;
text-transform: uppercase;
letter-spacing: 0.05em;
}

nav ul li a {
color: #2E3351;
text-decoration: none;
}

Nav ul li a:hover {
Color: #DF7249;
}

nav ul li a:active {
    Color: #DF7249;
}



.orange_p{
    color: #DF7249;
   font-family: Bilo, sans-serif;  
   font-weight: 300;  
   font-style: normal;
   font-size: 1rem;
   margin-left:  1rem;
   margin-bottom: 1rem;
   text-align: left;
}

.mayflavors a{
 text-decoration: none;
   color: #DF7249;
   font-family: Bilo, sans-serif;  
   font-weight: 800;  
   font-style: normal;
   font-size: 2rem;
   text-align: left;
   margin-left:  0rem;
   text-align: left;
   
}

address{
    color: #2E3351;
    font-family: Bilo, sans-serif;  
   font-weight: 300;  
   font-style: normal;
   font-size: 1.5rem;
   margin-left:  1rem;
   margin-bottom: 1rem;
   text-align: left;
}

.container {
  position: relative;
  text-align: center;
  color: #FAF6F2;
  padding: 0rem;
  margin-top: 20rem;
}

/* centered text */
.homehero {
    background-image: url(images/onescoop.jpg);
    min-height: 20em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 }

 .homehero p {
    /*position: absolute;*/
    color: #FAF6F2;
    font-family: Bilo, sans-serif;  
    font-weight: 800;  
    font-style: normal;
    font-size: 3rem;
    line-height: 3rem;
    /*display: block;*/
    padding-left: 1rem;
    padding-top: 1em;

 }



 @media only screen and (min-width: 40em){

    .homehero {
    background-image: url(images/onescoop.jpg);
    min-height: 30em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 }

nav ul li {
font-size: 1em;
margin-left: 4rem;
padding-top: 1em;
}



h2{
    font-size: 3rem;
}

h2 a {
    font-size: 3rem;
}
.mayflavors a{
    font-size: 3rem;
}
p{
    font-size: 1rem;
    max-width: 40em;
}

.orange_p{
    font-size: 2rem;
    margin-top: 0rem;
}

.homehero p {
   position: absolute;
   color: #FAF6F2;
   font-family: Bilo, sans-serif;  
   font-weight: 800;  
   font-style: normal;
   font-size: 5rem;
   line-height: 4.5rem;
   margin-top: 1rem;
   display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
 }

div.container {
    max-width: 60em;
    margin:  auto;
    background-color: #FAF6F2;
}

header{
    display: grid;
    grid-template-columns:  8em auto; 
}

header h1{
    grid-row:  1/2;
}

header nav{
    /*background-color: yellow;*/
    grid-row:  1/2;
    margin-top: 2em;
    margin-left: 0em;
}



section.flavors ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2em;
    grid-row-gap: 2em;
    /*grid-template-rows: 2em auto;*/
}

section.prices ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2em;
    grid-row-gap: 2em;
}


 }

