/*CSS document*/

/*html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}*/

body {
	color: #0D2241;
	font-family: stolzl, sans-serif;
	font-weight: 300;
	font-style: normal;
	line-height: 160%;
	background: #FAFAFA;
	padding: 0 1em;
}

div.container {
    max-width: 80em;
    margin: 0 auto;
}

div.container-stories {
    max-width: 60em;
    margin: 0 auto;
}

div.container-photo {
    max-width: 80em;
    margin: 0 auto;
}

div.container-subscribe {
    max-width: 80em;
    margin: 0 auto;
}

section{
	max-width: 80em;
}

/*p{
	margin: 0;
}*/

figure {
    margin: 0;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}


a{
	text-decoration: none;
	color: #0D2241;
}

a:hover{
	color:#da562a;
}

h1 {
font-family: stolzl, sans-serif;
font-weight: 500;
font-style: normal;
width:35%;
}

h3{
	margin: 0;
	padding: 0;
}

figcaption{
	font-family: stolzl, sans-serif;
	font-weight: 300;
	font-style: italic;
}


div.photogallery {
			max-width: 50em;

}

main.photo-gallery {
    position: relative;
    overflow: hidden;
    padding-bottom: calc(75% + 3em);
}

figure.photo {
    margin: 0;
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: left .5s;
}


input:nth-of-type(1):checked ~ main figure:nth-of-type(1),
input:nth-of-type(2):checked ~ main figure:nth-of-type(2),
input:nth-of-type(3):checked ~ main figure:nth-of-type(3),
input:nth-of-type(4):checked ~ main figure:nth-of-type(4),
input:nth-of-type(5):checked ~ main figure:nth-of-type(5),
input:nth-of-type(6):checked ~ main figure:nth-of-type(6),
input:nth-of-type(7):checked ~ main figure:nth-of-type(7),
input:nth-of-type(8):checked ~ main figure:nth-of-type(8){
    opacity: 1;
}

div.selector {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: .2em;
}

label{
	flex: 1 0 10em;
}

div.container-photo input{
    display: none;
}


section.personal-info ul li {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1em;
}

section.personal-info ul li input[type="text"],
section ul li input[type="email"],
section ul li input[type="name"],
section ul li select {
	flex: 2 0 30em;
	box-sizing: border-box;
}

section.personal-info ul li label {
	flex: 0 0 4em;
}
	
	
h3 {
	margin: 2em 0 0;
	}

ul {
	padding: 0;
	list-style-type: none;
	}
	
section {
    margin-bottom: 1em;
}

section p {
	margin-top: 0;
}

textarea {
	box-sizing: border-box;
	display: flex;
	width: 100%;
	height: 6em;
	background: #fcfcfc;
	border: 1px solid #e8e8e8;
	padding: 0.4em;
	font-family: sans-serif;
	color: #777;
	}

@media screen and (min-width: 60em){
	
	ul li{
	display: inline;
	margin-right: 1em;
}

	div.container, div.container-stories{
		display: grid;
		grid-template-columns: 3fr 1fr;
		grid-gap: 0 2em;
	}

	header{
		grid-column: 1/3;
	}

	main{
		grid-column: 1/2;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 0 1em;
	}

	main.photo-gallery {
		display: block;
	}

	section{
		margin: 0;
	}

	section.mainstory{
		grid-column: 1/3;
/*		grid-row: 1/3;
*/		display: flex;
		flex-direction: column;
	}

	section.mainstory figure{
		flex: 1 0 18em;
		display: flex;
		flex-direction: column;
	}

	section.mainstory figure div{
		flex: 1 0 18em;
		background-image: url(images/foreigncinema.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	section.mainstory figure div img{
		height: 100%;
		opacity: 0;
	}

	section.mainstory h3{
		flex: 0 0 auto;
		margin: 0;
		padding-top: 1em;
	}

	section.mainstory p{
		flex: 0 0 auto;
		margin: 0;
		padding-bottom: 2em;
	}


	aside{
		grid-column: 2/3;
	}

	div.container-subscribe {
    	margin: auto;
  }
}
